{% include 'header.twig' %}

{% if user['auth'] %}
         <div class="app-content">
            <!-- page-content -->
            <div class="container-fluid">
               <div class="row mt-4">
                  <div class="col-lg-12">
                     <section class="order-side">
                        <div class="row">
                           <div class="col-lg-12 col-12 mb-5 mb-lg-0">
                              <div class="faq-ss-tabs">
                                 <div class="home-ss-tab">
                                    <div class="ss-tab-head">
                                       <div class="row">
                                          <div class="col">
                                             Nakrutka nima degani?
                                          </div>
                                          <div class="col-auto align-self-center right-p">
                                             <i class="fas fa-plus"></i>
                                             <i class="fas fa-minus"></i>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="ss-tab-content">
                                       Nakrutka degani yolg'on prasmotr like obunachi qo'shish deganni anglatadi, bizning panelimiz tilimizga moslashtirilgan. Virtualizatsiya; ijtimoiy media akkauntlari ma'lum bir auditoriyaga ega degan farazni anglatadi. Assumption (Virtualizatsiya) sifatida ko'rsatilgan profillarni vizual idrok etish muammosini hisobga olgan holda, ijtimoiy media akkauntlari o'zlari erishmoqchi bo'lgan maqsadlarga osonroq erisha olishlari bizning ilovalarimiz tomonidan har kuni isbotlangan.
                                    </div>
                                 </div>
                                 <!-- home-ss-tab end -->
                                 <div class="home-ss-tab">
                                    <div class="ss-tab-head">
                                       <div class="row">
                                          <div class="col">
                                            Mening hisobim xavf ostidami?
                                          </div>
                                          <div class="col-auto align-self-center right-p">
                                             <i class="fas fa-plus"></i>
                                             <i class="fas fa-minus"></i>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="ss-tab-content">
                                       Biz panelimiz orqali berilgan buyurtmalarning ijtimoiy tarmoqlardagi akkauntlarga ta'sirini lahzada yozib boramiz va kuzatamiz. Bizning panelimiz amalda qo'llanilgandan beri, agar foydalanuvchilarimiz tomonidan suiiste'mol qilinmasa, hisoblarda hech qanday xavf-xatar kuzatmaganimizni bilishingizni istaymiz. Biroq, bizning panelimiz yuzaga kelishi mumkin bo'lgan muammolar uchun hech qanday javobgarlikni o'z zimmasiga olmasligini bilishingizni istardik.
                                    </div>
                                 </div>
                                 <!-- home-ss-tab end -->
                                 <div class="home-ss-tab">
                                    <div class="ss-tab-head">
                                       <div class="row">
                                          <div class="col">
                                             Mening hisobimga qanday ta'sir qiladi?
                                          </div>
                                          <div class="col-auto align-self-center right-p">
                                             <i class="fas fa-plus"></i>
                                             <i class="fas fa-minus"></i>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="ss-tab-content">
                                      Panelimiz orqali beriladigan buyurtmalardagi borishni nazorat ostida va muntazam ravishda kuzatib borsangiz, samarani ko'rishingizga ishonchingiz komil bo'lishi mumkin. Agar biz bir necha misollar bilan tushuntirishimiz kerak bo'lsa; Instagram’da baham ko‘rgan postlaringiz “Discover” bo‘limiga o‘tadi. Bu sizning postingiz Instagram foydalanuvchilariga ko'proq kirishiga imkon beradi. Yana bir misol uchun, siz Youtube-da baham ko'rgan videolaringizning "Tavsiya etilgan" bo'limida ko'rinishingiz ehtimoli ko'proq. Bu sizning video postingizni ko'proq Youtube foydalanuvchilari ko'rishiga yordam beradi.
                                    </div>
                                 </div>
                                 <!-- home-ss-tab end -->
                                 <div class="home-ss-tab">
                                    <div class="ss-tab-head">
                                       <div class="row">
                                          <div class="col">
                                             Qo'llab-quvvatlash so'rovini qanday yaratish kerak?
                                          </div>
                                          <div class="col-auto align-self-center right-p">
                                             <i class="fas fa-plus"></i>
                                             <i class="fas fa-minus"></i>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="ss-tab-content">
                                       Agar siz ish stoli kompyuteringiz bilan kirayotgan bo'lsangiz, chap tarafdagi menyudan "Yordam markazi" belgisini bosing, agar siz mobil kompyuter bilan tizimga kirsangiz, yuqori o'ngdagi menyu tugmasini bosing, so'ng tugmani bosing. "Yordam markazi" deb yozilgan. Ochilgan sahifada qo'llab-quvvatlash so'rovini yaratmoqchi bo'lgan mavzuni tanlang. Keyin kerakli maydonlarni to'ldiring va "Yordam so'rovini yaratish" tugmasini bosing.
                                    </div>
                                 </div>
                                 <!-- home-ss-tab end -->
                                 <div class="home-ss-tab">
                                    <div class="ss-tab-head">
                                       <div class="row">
                                          <div class="col">
                                           Qanday Xisobni to'ldirish?
                                          </div>
                                          <div class="col-auto align-self-center right-p">
                                             <i class="fas fa-plus"></i>
                                             <i class="fas fa-minus"></i>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="ss-tab-content">
                                        Panelimiz orqali ro‘yxatdan o‘tish jarayonini muvaffaqiyatli yakunlaganingizdan so‘ng, agar siz ish stoli kompyuteringiz bilan tizimga kirayotgan bo‘lsangiz, chap menyudan “Balans qo‘shish” belgisini bosing, agar siz mobil telefon orqali tizimga kirayotgan bo‘lsangiz, yuqori o‘ng tarafdagi menyu tugmasini bosing, keyin "Balans qo'shish" degan tugmani bosing. Ushbu sahifadan siz qiwi bilan 24/7 komissiyasiz to'lashingiz mumkin. Sizning kartangiz ma'lumotlari hech qanday tarzda bizning panelimiz infratuzilmasiga kirmaydi. qiwi orqali amalga oshirgan toʻlovlaringiz xavfsizlik tizimi tomonidan himoyalangan.
                                    </div>
                                 </div>
                                 <!-- home-ss-tab end -->
                                 <div class="home-ss-tab">
                                    <div class="ss-tab-head">
                                       <div class="row">
                                          <div class="col">
                                            Qanday qilib buyurtma berishim mumkin?
                                          </div>
                                          <div class="col-auto align-self-center right-p">
                                             <i class="fas fa-plus"></i>
                                             <i class="fas fa-minus"></i>
                                          </div>
                                       </div>
                                    </div>
                                   <div class="ss-tab-content">
                                Agar siz ish stoli kompyuterida tizimga kirayotgan bo'lsangiz, chap tarafdagi menyudan "Buyurtma" belgisini bosing, agar siz mobil kompyuter bilan kirayotgan bo'lsangiz, yuqori o'ng tarafdagi menyu tugmasini bosing, so'ngra "Buyurtma" tugmasini bosing. "Yangi tartib". Bizning panelga tegishli barcha xizmatlarni ochilgan sahifaning "Kategoriyalar" bo'limida topishingiz mumkin. Ushbu menyudan buyurtma bermoqchi bo'lgan toifani tanlang. Keyin "Xizmat" menyusidan buyurtma bermoqchi bo'lgan xizmatni tanlang. Siz tanlagan xizmatda yozilgan narx 1000 dona narxi. "Xizmat tavsifi" bo'limini batafsil o'qib chiqqaningizga ishonch hosil qilganingizdan so'ng, tavsifda ko'rsatilgan havola turini "Link" deb yozing. Keyin maksimal yoki minimal qiymatlar orasidagi miqdorni yozing. miqdori bo'limida o'sha xizmatdan berishingiz mumkin. Ushbu operatsiyalarni bajarganingizdan so'ng, "Buyurtma berish" tugmasini bosing. Buyurtmangiz tavsif bo'limida ko'rsatilgan vaqt ichida amalga oshiriladi.
                                    </div>
                                 </div>
                                 <!-- home-ss-tab end -->
                              </div>
                           </div>
                        </div>
                        <!-- col item end-->
                  </div>
                  </section>
               </div>
               <!-- page-content end -->
            </div>
            <!-- app-content -->
         </div>
      </div>

      </div>

{% else %}
    <div class="home-head outside">
        <div class="home-head-bg"></div>
	
        <div class="home-head-content">
            <div class="container" style="position: relative;">
                <div class="row">
                </div>
            </div>
        </div>
    </div>
	
    <div class="hs-area mb-5">
        <div class="container">

                     <section class="order-side">
                        <div class="row">
                           <div class="col-lg-12 col-12 mb-5 mb-lg-0">
                              <div class="faq-ss-tabs">
                                 <div class="home-ss-tab">
                                    <div class="ss-tab-head">
                                       <div class="row">
                                          <div class="col">
                                            Nakrutka nima degani?
                                          </div>
                                          <div class="col-auto align-self-center right-p">
                                             <i class="fas fa-plus"></i>
                                             <i class="fas fa-minus"></i>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="ss-tab-content">
                                      Nakrutka degani yolg'on prasmotr like obunachi qo'shish deganni anglatadi, bizning panelimiz tilimizga moslashtirilgan. Virtualizatsiya; ijtimoiy media akkauntlari ma'lum bir auditoriyaga ega degan farazni anglatadi. Assumption (Virtualizatsiya) sifatida ko'rsatilgan profillarni vizual idrok etish muammosini hisobga olgan holda, ijtimoiy media akkauntlari o'zlari erishmoqchi bo'lgan maqsadlarga osonroq erisha olishlari bizning ilovalarimiz tomonidan har kuni isbotlangan.
                                    </div>
                                 </div>
                                 <!-- home-ss-tab end -->
                                 <div class="home-ss-tab">
                                    <div class="ss-tab-head">
                                       <div class="row">
                                          <div class="col">
                                            Mening hisobim xavf ostidami?
                                          </div>
                                          <div class="col-auto align-self-center right-p">
                                             <i class="fas fa-plus"></i>
                                             <i class="fas fa-minus"></i>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="ss-tab-content">
                                      Biz panelimiz orqali berilgan buyurtmalarning ijtimoiy tarmoqlardagi akkauntlarga ta'sirini lahzada yozib boramiz va kuzatamiz. Bizning panelimiz amalda qo'llanilgandan beri, agar foydalanuvchilarimiz tomonidan suiiste'mol qilinmasa, hisoblarda hech qanday xavf-xatar kuzatmaganimizni bilishingizni istaymiz. Biroq, bizning panelimiz yuzaga kelishi mumkin bo'lgan muammolar uchun hech qanday javobgarlikni o'z zimmasiga olmasligini bilishingizni istardik.
                                    </div>
                                 </div>
                                 <!-- home-ss-tab end -->
                                 <div class="home-ss-tab">
                                    <div class="ss-tab-head">
                                       <div class="row">
                                          <div class="col">
                                            Mening hisobimga qanday ta'sir qiladi?
                                          </div>
                                          <div class="col-auto align-self-center right-p">
                                             <i class="fas fa-plus"></i>
                                             <i class="fas fa-minus"></i>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="ss-tab-content">
                                       Panelimiz orqali beriladigan buyurtmalardagi borishni nazorat ostida va muntazam ravishda kuzatib borsangiz, samarani ko'rishingizga ishonchingiz komil bo'lishi mumkin. Agar biz bir necha misollar bilan tushuntirishimiz kerak bo'lsa; Instagram’da baham ko‘rgan postlaringiz “Discover” bo‘limiga o‘tadi. Bu sizning postingiz Instagram foydalanuvchilariga ko'proq kirishiga imkon beradi. Yana bir misol uchun, siz Youtube-da baham ko'rgan videolaringizning "Tavsiya etilgan" bo'limida ko'rinishingiz ehtimoli ko'proq. Bu sizning video postingizni ko'proq Youtube foydalanuvchilari ko'rishiga yordam beradi.
                                    </div>
                                 </div>
                                 <!-- home-ss-tab end -->
                                 <div class="home-ss-tab">
                                    <div class="ss-tab-head">
                                       <div class="row">
                                          <div class="col">
                                            Qo'llab-quvvatlash so'rovini qanday yaratish kerak?
                                          </div>
                                          <div class="col-auto align-self-center right-p">
                                             <i class="fas fa-plus"></i>
                                             <i class="fas fa-minus"></i>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="ss-tab-content">
                                      Agar siz ish stoli kompyuteringiz bilan kirayotgan bo'lsangiz, chap tarafdagi menyudan "Yordam markazi" belgisini bosing, agar siz mobil kompyuter bilan tizimga kirsangiz, yuqori o'ngdagi menyu tugmasini bosing, so'ng tugmani bosing. "Yordam markazi" deb yozilgan. Ochilgan sahifada qo'llab-quvvatlash so'rovini yaratmoqchi bo'lgan mavzuni tanlang. Keyin kerakli maydonlarni to'ldiring va "Yordam so'rovini yaratish" tugmasini bosing.
                                    </div>
                                 </div>
                                 <!-- home-ss-tab end -->
                                 <div class="home-ss-tab">
                                    <div class="ss-tab-head">
                                       <div class="row">
                                          <div class="col">
                                           Qanday Xisobni to'ldirish ?
                                          </div>
                                          <div class="col-auto align-self-center right-p">
                                             <i class="fas fa-plus"></i>
                                             <i class="fas fa-minus"></i>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="ss-tab-content">
                                      Panelimiz orqali ro‘yxatdan o‘tish jarayonini muvaffaqiyatli yakunlaganingizdan so‘ng, agar siz ish stoli kompyuteringiz bilan tizimga kirayotgan bo‘lsangiz, chap menyudan “Balans qo‘shish” belgisini bosing, agar siz mobil telefon orqali tizimga kirayotgan bo‘lsangiz, yuqori o‘ng tarafdagi menyu tugmasini bosing, keyin "Balans qo'shish" degan tugmani bosing. Ushbu sahifadan siz qiwi bilan 24/7 komissiyasiz to'lashingiz mumkin. Sizning kartangiz ma'lumotlari hech qanday tarzda bizning panelimiz infratuzilmasiga kirmaydi. qiwi orqali amalga oshirgan toʻlovlaringiz xavfsizlik tizimi tomonidan himoyalangan.
                                    </div>
                                 </div>
                                 <!-- home-ss-tab end -->
                                 <div class="home-ss-tab">
                                    <div class="ss-tab-head">
                                       <div class="row">
                                          <div class="col">
                                             Qanday qilib buyurtma berishim mumkin?
                                          </div>
                                          <div class="col-auto align-self-center right-p">
                                             <i class="fas fa-plus"></i>
                                             <i class="fas fa-minus"></i>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="ss-tab-content">
                                Agar siz ish stoli kompyuterida tizimga kirayotgan bo'lsangiz, chap tarafdagi menyudan "Buyurtma" belgisini bosing, agar siz mobil kompyuter bilan kirayotgan bo'lsangiz, yuqori o'ng tarafdagi menyu tugmasini bosing, so'ngra "Buyurtma" tugmasini bosing. "Yangi tartib". Bizning panelga tegishli barcha xizmatlarni ochilgan sahifaning "Kategoriyalar" bo'limida topishingiz mumkin. Ushbu menyudan buyurtma bermoqchi bo'lgan toifani tanlang. Keyin "Xizmat" menyusidan buyurtma bermoqchi bo'lgan xizmatni tanlang. Siz tanlagan xizmatda yozilgan narx 1000 dona narxi. "Xizmat tavsifi" bo'limini batafsil o'qib chiqqaningizga ishonch hosil qilganingizdan so'ng, tavsifda ko'rsatilgan havola turini "Link" deb yozing. Keyin maksimal yoki minimal qiymatlar orasidagi miqdorni yozing. miqdori bo'limida o'sha xizmatdan berishingiz mumkin. Ushbu operatsiyalarni bajarganingizdan so'ng, "Buyurtma berish" tugmasini bosing. Buyurtmangiz tavsif bo'limida ko'rsatilgan vaqt ichida amalga oshiriladi.
                                    </div>
                                 </div>
                                 <!-- home-ss-tab end -->
                              </div>
                           </div>
                        </div>
                        <!-- col item end-->
                  </div>
            </section>
				  
        </div>
	 </div> 
	
{% endif %}

{% include 'footer.twig' %}
